

html {
    background-color: #094c76;
}

nav.main {
    text-align: center;
    color: white;
    font-size: 2rem;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
nav.main a {
    color: white;
    display: block;
    font-size: 2rem;
    margin: 20px;
    text-decoration: none;
}

nav.main a:hover, ul a:active {
  color: #eca8b5;
}

nav.time {
    text-align: center;
    color: white;
    font-size: 2rem;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
    top: 80;
    left: 80;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}