{% extends 'base.html' %}

{% load static %}
{% load my_filter %}
{% block title%}Horoscope for {{sign|upper}}{% endblock %}


{% block css_s %}
 <link rel="stylesheet" href=" {% static 'horoscope/css/info.css' %}">
{% endblock %}
{% block content %}
    {% include 'includes/navbar.html' %}
    <h1>{{ description_zodiac|split|first}}</h1>
{% if description_zodiac is None %}
        <h2>Неправильный знак зодиака  - {{ sign| upper}}</h2>
    {% else %}
        <h2>{{ description_zodiac }}</h2>
    {% endif %}

    <p class="horoscope_today">{{ horoscope.horoscope_description }}</p>
    <p><strong><a href="{% url 'horoscope-for-30-days' sign_zodiac=sign zodiac_slug=sign %}">Узнать гороскоп на 30 дней</a></strong></p>

{% endblock %}

