{% extends 'base.html' %}

{% load static %}
{% load my_filter %}
{% block title%}Horoscope for {{sign|upper}}на{{time}}{% endblock %}


{% block css_s %}
 <link rel="stylesheet" href=" {% static 'horoscope/css/info.css' %}">
{% endblock %}
{% block content %}
    {% include 'includes/navbar.html' %}
    <h1 class="page_title">{{ horoscope.zodiac_name|title }} </h1>
    <h2>{{horoscope.zodiac_mini_description}}</h2>


<!--    <h4 class="time">Гороскоп на {{ time }}</h4>-->

    <p class="horoscope_today"><strong class="time">Гороскоп на {{ time }}.</strong></p>
    <p> {{ horoscope.horoscope_description }} </p>
<!-- <p class="horoscope_today"><strong class="time">Гороскоп на {{ time }}.</strong> {{ horoscope.horoscope_description }}</p>-->
    <p class="hyperlink"><a href="{% url 'horoscope-for-30-days' sign_zodiac=sign zodiac_slug=sign %}">Узнать гороскоп на 30 дней</a></p>

{% endblock %}

